.container {
    height: 100vh;

    display: grid;
    grid-template-rows: 8fr 1fr;
}

.titleWrapper {
    background: url("../../assets/img/start/startPageBackground.jpeg")
    -129px -64px;
    background-size: 77vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
    font-size: 6vh;

    height: 200px;
    width: 300px;

    display: flex;
    align-items: center;
    justify-content: center;


    /*background: rgba(196,196,196, 0.7);*/
    background: url("../../assets/img/start/startTitleBackground.png") no-repeat
    2px 22px;
    background-size: 35vh;
}

.buttonWrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.buttonWrapper > button {
    width: 46%;
    height: 50%;
    font-weight: bold;

    border-radius: 6px;
    border-width: 2px;
}