.container {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.addMeetButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 40px;
    background: linear-gradient(202.17deg, #FF00D6 8.58%, #FF4D00 91.42%);
    border-radius: 20px;
}